<div th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">

    <meta content="text/html;charset=UTF-8" http-equiv="content-type"/>

    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- BOOTSTRAP -->

    <!-- ANGULAR JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://gitcdn.xyz/cdn/angular/bower-material/v1.2.2/angular-material.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://gitcdn.xyz/cdn/angular/bower-material/v1.2.2/angular-material.css">
<!--    <link rel="stylesheet" href="https://material.angularjs.org/1.2.2/docs.css">-->
    <!-- SLIDER FOR ANGULAR -->
    <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css">
    <!-- SLIDER FOR ANGULAR -->
    <!-- ANGULAR JS -->


    <!-- EIGENMARKE -->
    <script src="/js/application.js"></script>

    <!-- YATE TEXT EDITOR -->
    <script src="https://perfectkb.github.io/yate/dist/yate.bundled.min.js"></script>
    <script src="/js/yateWrapper.js"></script>
    <link rel="stylesheet" href="/css/yate.css">
    <!-- YATE TEXT EDITOR -->

    <script src="/js/walloffame.js"></script>
    <link rel="stylesheet" href="/css/walloffame.css">

    <script src="/js/validator.js"></script>
    <link rel="stylesheet" href="/css/validator.css">
    <!--EIGENMARKE-->
</div>