#dbpedia { /* DBPEDIA PICTURE */
    height: 80px;
    width: auto;}

/*.png-icon{*/
/*    margin: 5px auto auto;*/
/*    padding: 0;*/
/*    display: inline-block;*/
/*    background-repeat: no-repeat no-repeat;*/
/*    pointer-events: none;*/
/*}*/

/* SELECTORS */
legend, .blueFont, .webid-accountName{
    color: #315eb0;}

.SelectOption{
    color: #315eb0;
    font-size: 1em;
    margin: 1.67em 0;
    font-weight: bold;
}

#resetFilters{
    margin: auto;
    width: 100%;
}

md-checkbox{
    min-height: 35px;
}

#time{
    color: orange;
    /*color: #fd7e14;*/
}

fieldset {
    border-style: solid;
    border-width: 0px; }

.select-all-checkboxes {
    padding-left: 30px; }
/* SELECTORS */

/* WEBID STYLE */
.webid-card-small{
    width: 198px;
}

#small-img{
    width: 100%;
    height:200px;
    object-fit: contain;
    horiz-align: center;
    /*vertical-align: center; warum geht das nicht*/}

.webid-accountName{
    font-size: x-large;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}

#full_webid_container {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;}

.webid-card {
    width: 500px;
}

#webid-card-wof{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}

#big-img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    horiz-align: center;}

#opaque {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    filter: alpha(opacity=30);
    opacity: 0.3;}

* html #opaque {
    position: absolute;}
/* WEBID STYLE */

/*MENUE PANEL*/
.menu-panel-container {
    pointer-events: auto; }

.menu-panel {
    width: 256px;
    background-color: #fff;
    border-radius: 4px; }

.menu-panel .menu-divider {
    width: 100%;
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: rgba(0, 0, 0, 0.11);
}

.menu-panel .menu-content {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    max-height: 305px;
    overflow-y: auto;
    min-width: 256px;
}

.menu-panel .menu-item {
    display: flex;
    flex-direction: row;
    min-height: 48px;
    height: 48px;
    align-content: center;
    justify-content: flex-start;
}
.menu-panel .menu-item > * {
    width: 100%;
    margin: auto 0;
    padding-left: 16px;
    padding-right: 16px;
}
.menu-panel .menu-item > a.md-button {
    padding-top: 5px;
}
.menu-panel .menu-item > .md-button {
    display: inline-block;
    border-radius: 0;
    margin: auto 0;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    text-align: left;
}
.menu-panel .menu-item > .md-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.menu-panel .menu-item > .md-button md-icon {
    margin: auto 16px auto 0;
}
.menu-panel .menu-item > .md-button p {
    display: inline-block;
    margin: auto;
}
.menu-panel .menu-item > .md-button span {
    margin-top: auto;
    margin-bottom: auto;
}
.menu-panel .menu-item > .md-button .md-ripple-container {
    border-radius: inherit;
}
/*MENU PANEL*/


/* CUSTOM SLIDER */
.custom-slider.rzslider .rz-bar {
    background: #ffe4d1;
    height: 2px;
}
.custom-slider.rzslider .rz-selection {
    background: orange;
}

.custom-slider.rzslider .rz-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
    display: none;
}

.custom-slider.rzslider .rz-bubble {
    bottom: 14px;
}

.custom-slider.rzslider .rz-limit {
    font-weight: bold;
    color: orange;
}

.custom-slider.rzslider .rz-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
    background: orange;
}
/* CUSTOM SLIDER */