legend {
    color: #3F51B5;

}

.cardImg{
    width: 100%;
    max-height:200px;
    object-fit: contain;
}

fieldset {
    border-style: solid;
    border-width: 0px; }

.select-all-checkboxes {
    padding-left: 30px; }

.dbpedia {
    height: 80px;
    width: auto;
}
