<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DBpedia's Wall of Fame</title>
    <meta content="text/html;charset=UTF-8" http-equiv="content-type"/>
    <link href='http://www.simile-widgets.org/styles/common.css' rel='stylesheet' type='text/css'/>
    <link href="/webids.js" rel="exhibit/data" type="application/json"/>

    <script src="http://api.simile-widgets.org/exhibit/current/exhibit-api.js"></script>
    <link href="http://api.simile-widgets.org/exhibit/current/extensions/time/time-extension.js" rel="exhibit-extension"
          type="text/javascript"/>

    <link rel='stylesheet' th:href="@{css/styles.css}" type='text/css'/>
</head>
<body>

</body>
</html>