<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="wofApp" >
<head>
    <title>Validation Form</title>
    <div lang="en" th:replace="fragments/header :: head"></div>
</head>

<body ng-controller="validateController">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="https://www.dbpedia.org/" target="_blank">
            <img id="dbpedia" src="/images/DBpedia.png"/>
        </a>

        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/walloffame">Wall of Fame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/validator">WebId Validator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://github.com/dbpedia/wall-of-fame/blob/master/src/main/resources/shacl/shapes.ttl" target="_blank">SHACL
                        File</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" target="_blank">About</a>
                </li>
            </ul>

        </div>

    </div>
</nav>

<br>


<div class="container-fluid" style="padding: 0 100px 100px;" ng-model="webId">

    <div class="row">
        <div class="col-sm">
            You can either paste the URL of your WebId into here:
            <br/>

            <button class="btn btn-primary" type="submit" style="float: right; width: 200px" ng-click="fetchAndValidateWebId()">Fetch and Validate</button>
            <div style="overflow: hidden; padding-right: .5em;">
            <input class="form-control" type="text" style="width: 100%;" ng-model="webId.maker">
            </div>
            <div id="url_ok" class="alert alert-danger" style="display: none">
                URL should contain HTTPS
            </div>

        </div>
    </div>

    <br>

    <div class="row">

        <div class="col-sm" >
            Or you can paste the content of your WebId here:
            <br/>
            <yate-text query="webId.turtle"></yate-text>
            <br>

            <button class="btn btn-primary" type="submit" ng-click="validateWebId()">Validate</button>
        </div>


        <div class="col-sm">
            Your WebId:
            <md-card class="webid-card">
                <img id="big-img" class="md-card-image" ng-src="{{webId.img || 'https://wiki.dbpedia.org/sites/default/files/DBpediaLogo.png'}}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline blueFont" style="text-align: center">
                            {{webId.account.charAt(0).toUpperCase() + webId.account.slice(1);}}
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="center">
                    <a class="md-icon-button" ng-href="{{webId.url}}">
                        <md-icon md-svg-icon="images/icons/download-24px.svg"></md-icon>
                    </a>
                    <a class="md-icon-button" ng-href="https://databus.dbpedia.org/{{webId.account}}" target="_blank">
                        Databus Account
                    </a>
                    <a class="md-icon-button" ng-href="https://github.com/" target="_blank">
                        <md-icon md-svg-icon="images/icons/GitHub.svg"></md-icon>
                    </a>
                </md-card-actions>
                <md-divider></md-divider>
                <md-card-content>
                    <table>
                        <tbody>
                        <tr>
                            <td valign="top">Name:</td>
                            <td>{{webId.name}}</td>
                        </tr>
                        <tr ng-if="webId.numArtifacts">
                            <td valign="top">Databus Artifacts:</td>
                            <td>{{webId.numArtifacts}}</td>
                        </tr>
                        <tr ng-if="webId.numVersions">
                            <td valign="top">Databus Versions:</td>
                            <td>{{webId.numVersions}}</td>
                        </tr>
                        <tr ng-if="webId.uploadSize">
                            <td valign="top">Uploaded Data:</td>
                            <td>{{webId.uploadSize}} MB</td>
                        </tr>
                        <tr ng-if="webId.geekCode">
                            <td valign="top">foaf:geekcode:</td>
                            <td>{{webId.geekCode}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions layout="column" layout-align="start">
                    <a class="md-button" ng-href="/validator?webid={{webId.maker | escape}}" target="_blank">Validate Foaf/WebId</a>
                </md-card-actions>
            </md-card>
        </div>

    </div>

    <br>

    <div id="result" class="content" ng-if="webId.validation.result.length>0 || webId.validation.violations.length>0">

        <div id="violations" class="violations" ng-if="webId.validation.violations.length>0">
            <strong> Violations: </strong>
            <br>
            <ul>
                <li ng-repeat="violation in webId.validation.violations">
                    <p>
                        Conflicting Node: {{violation._1}}
                        <br>
                        Message: <b>{{violation._2}}</b>
                    </p>
                </li>
            </ul>
        </div>

        <div id="warnings" class="warnings"  ng-if="webId.validation.infos.length>0">
            <strong> Warnings: </strong>
            <br>
            <ul>
                <li ng-repeat="warning in webId.validation.infos">
                    <p>
                        Conflicting Node: {{warning._1}}
                        <br>
                        Message:
                        <img src='https://wiki.dbpedia.org/sites/default/files/favicon-32x32.png' ng-if="warning._2.includes('dbo:DBpedian')">
                        {{warning._2}}
                    </p>
                </li>
            </ul>
        </div>


        <div id="shaclResult" class="shaclResult" ng-if="webId.validation.result.length>0">
            <strong>Full Shacl Result: </strong>
            <div class="form-control" id="fineGrainedResult" style="white-space: pre-wrap">{{webId.validation.result.trim()}}</div>
        </div>

    </div>

</div>

</body>

</html>
