<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Validation Form</title>

    <!--STYLES-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/validate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/yate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/wof.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <!--STYLES-->

    <!--SCRIPTS-->
    <link rel="stylesheet" href="https://gitcdn.xyz/cdn/angular/bower-material/v1.2.2/angular-material.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://gitcdn.xyz/cdn/angular/bower-material/v1.2.2/angular-material.js"></script>

    <script src="/js/application.js"></script>
    <script src="/js/validate.js"></script>
    <script src="/js/yateWrapper.js"></script>
    <script src="https://perfectkb.github.io/yate/dist/yate.bundled.min.js"></script>
    <script src="/js/wof.js"></script>
    <!--SCRIPTS-->
</head>

<body ng-app="wofApp" ng-controller="validateController">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="https://www.dbpedia.org/" target="_blank">
            <img class="dbpedia" src="/images/DBpedia.png"/>
        </a>

        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/walloffame">Wall of Fame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/validator">WebId Validator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="https://github.com/dbpedia/wall-of-fame/blob/master/src/main/resources/shacl/shapes.ttl" target="_blank">SHACL
                        File</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" target="_blank">About</a>
                </li>
            </ul>

        </div>

    </div>
</nav>

<br>

<div class="container-fluid" style="padding: 0 100px 100px;" ng-model="webId">

    <div class="row">
        <div class="col-sm">
            You can either paste the URL of your WebId into here:
            <br/>

            <button class="btn btn-primary" type="submit" style="float: right; width: 200px" ng-click="fetchAndValidateWebId()">Fetch and Validate</button>
            <div style="overflow: hidden; padding-right: .5em;">
            <input class="form-control" type="text" style="width: 100%;" ng-model="webId.url">
            </div>
            <div id="url_ok" class="alert alert-danger" style="display: none">
                URL should contain HTTPS
            </div>

        </div>
    </div>

    <br>

    <div class="row">

        <div class="col-sm" >
            Or you can paste the content of your WebId here:
            <br/>
            <yate-text query="webId.turtle"></yate-text>
            <br>

            <button class="btn btn-primary" type="submit" ng-click="validateWebId()">Validate</button>
        </div>


        <div class="col-sm">
            Your WebId:
            <md-card ng-model="webId" ng-controller="webIdController as ctrl">
                <!--                            ng-click="openOffscreen(x)"-->
                <img class="md-card-image" ng-src="{{webId.img || 'https://wiki.dbpedia.org/sites/default/files/DBpediaLogo.png'}}">
                <md-card-title>
                    <md-card-title-text>
            <span class="md-headline" style="text-align: center">
                <a href="https://databus.dbpedia.org/{{webId.account}}" target="_blank">{{webId.account}}</a>
            </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <table>
                        <tbody>
                        <tr>
                            <td valign="top">Name:</td>
                            <td>{{webId.name}}</td>
                        </tr>
                        <tr ng-if="webId.gender">
                            <td valign="top">Gender:</td>
                            <td>{{webId.gender}}</td>
                        </tr>
                        <tr ng-if="webId.geekCode">
                            <td valign="top">GeekCode:</td>
                            <td>{{webId.geekCode}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-card-content>
                <md-card-actions layout="column" layout-align="start">
                    <md-button ng-click="ctrl.showToolbarMenu($event, webId)">
                        <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                    </md-button>
                </md-card-actions>
            </md-card>
<!--            <div class="card" style="width: 24rem;" ng-model="webId">-->
<!--                <img alt="Card image cap" class="card-img-top" src="{{webId.img}}">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">-->
<!--                        Account: <a href="https://databus.dbpedia.org/{{webId.account}}" target="_blank">{{webId.account}}</a>-->
<!--                    </h5>-->
<!--                    Name: {{webId.name}}-->
<!--                    <br>-->
<!--                    Gender: {{webId.gender}}-->
<!--                    <br>-->
<!--                    Geekcode: {{webId.geekCode}}-->
<!--                    </p>-->
<!--                    <a class="btn btn-primary" href="{{webId.maker}}">Go to WebId</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>

    </div>

    <br>

    <div id="result" class="content" ng-if="webId.validation.result.length>0 || webId.validation.violations.length>0">

        <div id="violations" class="violations" ng-if="webId.validation.violations.length>0">
            <strong> Violations: </strong>
            <br>
            <ul>
                <li ng-repeat="violation in webId.validation.violations">
                    <p>
                        Conflicting Node: {{violation._1}}
                        <br>
                        Message: <b>{{violation._2}}</b>
                    </p>
                </li>
            </ul>
        </div>

        <div id="warnings" class="warnings"  ng-if="webId.validation.infos.length>0">
            <strong> Warnings: </strong>
            <br>
            <ul>
                <li ng-repeat="warning in webId.validation.infos">
                    <p>
                        Conflicting Node: {{warning._1}}
                        <br>
                        Message:
                        <img src='https://wiki.dbpedia.org/sites/default/files/favicon-32x32.png' ng-if="warning._2.includes('dbo:DBpedian')">
                        {{warning._2}}
                    </p>
                </li>
            </ul>
        </div>


        <div id="shaclResult" class="shaclResult" ng-if="webId.validation.result.length>0">
            <strong>Full Shacl Result: </strong>
            <div class="form-control" id="fineGrainedResult" style="white-space: pre-wrap">{{webId.validation.result.trim()}}</div>
        </div>

    </div>

</div>

</body>

</html>
