<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>DBpedia's Wall of Fame</title>
    <meta content="text/html;charset=UTF-8" http-equiv="content-type"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/wof.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://gitcdn.xyz/cdn/angular/bower-material/v1.2.2/angular-material.css">
    <link rel="stylesheet" href="https://material.angularjs.org/1.2.2/docs.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://gitcdn.xyz/cdn/angular/bower-material/v1.2.2/angular-material.js"></script>


    <script src="/js/application.js"></script>
    <script src="/js/wof.js"></script>
    <script src="/js/validate.js"></script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="https://www.dbpedia.org/" target="_blank">
            <img class="dbpedia" src="/images/DBpedia.png"/>
        </a>

        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/walloffame">Wall of Fame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/validator">WebId Validator</a>
                </li>
                <li class="nav-item">
                    <script language="JavaScript">
                        document.write('<a class="nav-link" href="' + window.location.protocol + '//' + window.location.hostname + ':8895/sparql/' + '" target="_blank">Sparql Endpoint</a> ');
                    </script>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logs" target="_blank">Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navigation -->


<div class="container-fluid" style="padding: 0 50px 50px;">

    <br>
    <!-- DESCRIPTION TEXT -->
    <p style="vertical-align:middle; text-align: center">
        Welcome to DBpedia's Wall of Fame. Here you can have a look at all Users registered on the DBpedia
        Databus. Additionally, you can validate your own WebId with the WebId Validator.
        For further information about WebIds check <a href="https://github.com/dbpedia/webid" target="_blank">DBpedia's
        WebId Repository</a> and the <a href="https://forum.dbpedia.org/" target="_blank">DBpedia Forum</a>.
        If you have registered a webid but not or only incompletely find it in the Wall of Fame, look in the <a href="/logs" target="_blank">logs</a> for errors in your WebId.
    </p>

    <hr>

    <div ng-app="wofApp" ng-controller="webIdController" ng-cloak="">
        <div class="row" >
            <!-- SELECT PANELS -->
            <div class="col-sm-2" style="border-right: 1px solid; border-color: #dddddd">

                <legend><h4>Search</h4></legend>
                <div class="bar">
                    <input type="text" class="search" ng-model="model.searchString" />
                </div>

                <br>

                <div ng-model="filterOptions">
                    <div ng-repeat="option in filterOptions">
                        <hr>
                        <fieldset>
                            <legend><h4>{{option.title.charAt(0).toUpperCase() + option.title.slice(1);}}</h4></legend>
                            <md-checkbox aria-label="Select All"
                                         ng-checked="isChecked(option)"
                                         md-indeterminate="isIndeterminate(option)"
                                         ng-click="toggleAll(option)">
                                <span ng-if="isChecked(option)">Un-</span>Select All
                            </md-checkbox>
                            <div class="select-all-checkboxes" ng-repeat="item in option.options">
                                <md-checkbox ng-checked="exists(option.title, item)" ng-click="toggle(option.title, item)">
                                    {{ item || "undefined" }}
                                </md-checkbox>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>


            <!-- DBPEDIA ACCOUNTS -->
            <div class="col-sm" ng-controller="validateController">
                <div class="carddemoCardActionButtons">
                    <md-content layout-xs="column" layout="row" layout-wrap flex>
<!--                        <div class="card" style="width: 24rem;" ng-repeat="webId in filteredWebIds | filter:model.searchString">-->
<!--                            <img class="card-img-top" ng-src="{{webId.img || 'https://wiki.dbpedia.org/sites/default/files/DBpediaLogo.png'}}" alt="" style="width: 100%; max-height:200px; object-fit: contain;">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">-->
<!--                                    <a href="https://databus.dbpedia.org/{{webId.account}}" target="_blank">{{webId.account}}</a>-->
<!--                                </h5>-->
<!--                                Name: {{webId.name}}-->
<!--                                <br>-->
<!--                                Gender: {{webId.gender}}-->
<!--                                <br>-->
<!--                                Geekcode: {{webId.geekCode}}-->
<!--                                </p>-->
<!--                                <a class="btn btn-primary" href="{{webId.url}}">Go to WebId</a> <a class="btn btn-primary" href="/validate?str={{x.url}}" target="_blank">Validate</a>-->
<!--                            </div>-->
<!--                        </div>-->
                        <md-card ng-repeat="x in filteredWebIds | filter:model.searchString">
<!--                            ng-click="openOffscreen(x)"-->
                            <img class="cardImg" ng-src="{{x.img || 'https://wiki.dbpedia.org/sites/default/files/DBpediaLogo.png'}}" alt="">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline" style="text-align: center">
                                        <a href="https://databus.dbpedia.org/{{x.account}}" target="_blank">{{x.account}}</a>
                                    </span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td valign="top">Name:</td>
                                        <td>{{x.name}}</td>
                                    </tr>
                                    <tr ng-if="x.gender">
                                        <td valign="top">Gender:</td>
                                        <td>{{x.gender}}</td>
                                    </tr>
                                    <tr ng-if="x.geekCode">
                                        <td valign="top">GeekCode:</td>
                                        <td>{{x.geekCode}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-card-content>
                            <md-card-actions layout="column" layout-align="start">
                                <md-button><a href="{{x.url}}">WebId</a></md-button>
                                <md-button ><a href="/validate?str={{x.url}}" target="_blank">Validate</a></md-button>
                            </md-card-actions>
                        </md-card>
                    </md-content>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>