<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>DBpedia's Wall of Fame</title>
    <div lang="en" th:replace="fragments/header :: head"></div>
</head>

<body id="wof">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="https://www.dbpedia.org/" target="_blank">
            <img id="dbpedia" src="/images/DBpedia.png"/>
        </a>

        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/walloffame">Wall of Fame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/validator">WebId Validator</a>
                </li>
                <li class="nav-item">
                    <script language="JavaScript">
                        document.write('<a class="nav-link" href="' + window.location.protocol + '//' + window.location.hostname + ':8895/sparql/' + '" target="_blank">Sparql Endpoint</a> ');
                    </script>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logs" target="_blank">Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navigation -->


<div class="container-fluid" style="padding: 0 50px 50px;">

    <br>

    <div ng-app="wofApp" ng-controller="webIdController as ctrl" ng-cloak>
        <div class="row" >
            <!-- SELECT PANELS -->
            <div class="col-sm-2" style="border-right: 1px solid; border-color: #dddddd">
                <!-- TIMER -->
                    <span class="SelectOption">Next Update: </span>
                    <span id='time' class="SelectOption"></span>
                <hr>

                <legend><h4>Search</h4></legend>
                <div class="bar">
                    <input type="text" class="search" ng-model="model.searchString" />
                </div>

                <div ng-model="filterOptions">
                    <div ng-repeat="(category, options) in filterOptions">

                        <hr>
                        <legend><h4>{{category.charAt(0).toUpperCase() + category.slice(1);}}</h4></legend>
                        <br>

                        <div ng-repeat="option in options">
                            <div ng-model="selectedOptions" ng-if="option.type=='range'" ng-init="">

                                <span class="SelectOption">{{option.label}}</span>
                                <fieldset>
                                    <rzslider class="custom-slider"
                                            rz-slider-model="selectedOptions[category][getIndexOfStrInSelectedOptions(category, option.title)].values[0]"
                                            rz-slider-high="selectedOptions[category][getIndexOfStrInSelectedOptions(category, option.title)].values[1]"
                                            rz-slider-options="{onEnd:updateShownWebIds}">
                                    </rzslider>
                                </fieldset>
                            </div>

                            <fieldset ng-if="option.type=='options'">
                                <span class="SelectOption">{{option.label}}</span>>
                                <md-checkbox aria-label="Select All"
                                             ng-checked="isChecked(option)"
                                             md-indeterminate="isIndeterminate(option)"
                                             ng-click="toggleAll(option)">
                                    <span ng-if="isChecked(option)">Un-</span>Select All
                                </md-checkbox>
                                <div class="select-all-checkboxes" ng-repeat="item in option.values">
                                    <md-checkbox ng-checked="exists(option.title, item)" ng-click="toggle(category, option.title, item)">
                                        {{ item || "undefined" }}
                                    </md-checkbox>
                                </div>
                            </fieldset>

                            <md-checkbox ng-if="option.type=='boolean'" ng-click="toggle(category, option.title, 'true')">
                                <span class="SelectOption">{{option.label}}</span>
                            </md-checkbox>
                        </div>
                    </div>
                </div>

                <hr>
                <md-button id ="resetFilters" class="md-raised md-primary" ng-click="resetFilers()">reset filters</md-button>
                <br>

            </div>


            <!-- DBPEDIA ACCOUNTS -->
            <div class="col-sm">
                <md-content layout-xs="column" layout="row" layout-wrap>
                    <md-card class="webid-card-small" ng-repeat="webId in shownWebIds | filter:model.searchString" ng-click="showFullCard(webId)">
                        <img id="small-img" class="md-card-image" ng-src="{{webId.others.img || 'https://wiki.dbpedia.org/sites/default/files/DBpediaLogo.png'}}">
                        <md-card-actions layout="column" layout-align="start">
                            <div class="webid-accountName">{{webId.databus.account.charAt(0).toUpperCase() + webId.databus.account.slice(1);}}</div>
                            <md-divider></md-divider>
                            <a class="md-button" ng-href="/validator?webid={{webId.general.person | escape}}" target="_blank" ng-click="childClick($event)">Validate</a>
                        </md-card-actions>
                    </md-card>
                </md-content>
            </div>



            <div id="full_webid_container" ng-model="activeWebId">
                <div id="opaque" ng-click="hideFullCard()"></div>
                <md-card id="webid-card-wof" class="webid-card">
                    <img id="big-img" class="md-card-image" ng-src="{{activeWebId.others.img || 'https://wiki.dbpedia.org/sites/default/files/DBpediaLogo.png'}}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline blueFont" style="text-align: center">
                                {{activeWebId.databus.account.charAt(0).toUpperCase() + activeWebId.databus.account.slice(1);}}
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="center">
                        <a class="md-icon-button" ng-href="{{activeWebId.general.url}}">
                            <md-icon md-svg-icon="images/icons/download-24px.svg"></md-icon>
                        </a>
                        <a class="md-icon-button" ng-href="https://databus.dbpedia.org/{{activeWebId.databus.account}}" target="_blank">
                            Databus Account
                        </a>
                        <a class="md-icon-button" ng-href="{{activeWebId.github.account}}" target="_blank">
                            <md-icon md-svg-icon="images/icons/GitHub.svg"></md-icon>
                        </a>
                    </md-card-actions>
                    <md-divider></md-divider>
                    <md-card-content>
                        <table>
                            <tbody>
                            <tr>
                                <td valign="top">Name:</td>
                                <td>{{activeWebId.general.name}}</td>
                            </tr>
                            <tr ng-if="activeWebId.databus.numArtifacts">
                                <td valign="top">Databus Artifacts:</td>
                                <td>{{activeWebId.databus.numArtifacts}}</td>
                            </tr>
                            <tr ng-if="activeWebId.databus.numVersions">
                                <td valign="top">Databus Versions:</td>
                                <td>{{activeWebId.databus.numVersions}}</td>
                            </tr>
                            <tr ng-if="activeWebId.databus.uploadSize">
                                <td valign="top">Uploaded Data:</td>
                                <td>{{activeWebId.databus.uploadSize}} MB</td>
                            </tr>
                            <tr ng-if="activeWebId.github.commits>0">
                                <td valign="top">Extraction-Framework commits:</td>
                                <td>{{activeWebId.github.commits}}</td>
                            </tr>
                            <tr ng-if="activeWebId.others.geekCode">
                                <td valign="top">foaf:geekcode:</td>
                                <td>{{activeWebId.others.geekCode}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-card-content>
                    <md-divider></md-divider>
                     <md-card-actions layout="column" layout-align="start">
                         <a class="md-button" ng-href="/validator?webid={{activeWebId.general.person | escape}}" target="_blank">Validate Foaf/WebId</a>
                     </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</div>

</body>
</html>