<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>DBpedia's Wall of Fame</title>
    <div lang="en" th:replace="fragments/header :: head"></div>
</head>

<body id="wof">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="https://www.dbpedia.org/" target="_blank">
            <img class="dbpedia" src="/images/DBpedia.png"/>
        </a>

        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/walloffame">Wall of Fame</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/validator">WebId Validator</a>
                </li>
                <li class="nav-item">
                    <script language="JavaScript">
                        document.write('<a class="nav-link" href="' + window.location.protocol + '//' + window.location.hostname + ':8895/sparql/' + '" target="_blank">Sparql Endpoint</a> ');
                    </script>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logs" target="_blank">Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navigation -->


<div class="container-fluid" style="padding: 0 50px 50px;">

    <br>
    <!-- DESCRIPTION TEXT -->
    <p style="vertical-align:middle; text-align: center">
        Welcome to DBpedia's Wall of Fame. Here you can have a look at all Users registered on the
        <a href="https://databus.dbpedia.org/" target="_blank">DBpedia Databus</a>.
        Additionally, you can validate your own WebId with the <a href="/validator">WebId Validator</a>.
        The Wall of Fame fetches all registered WebIds daily on 8PM (GMT+1:00). You may need to wait one day until your WebId is shown here.
        If you have registered a WebId but not or only incompletely find it in the Wall of Fame, look in the <a href="/logs" target="_blank">logs</a> for errors in your WebId.
        For further information about WebIds check <a href="https://github.com/dbpedia/webid" target="_blank">DBpedia's
        WebId Repository</a> and the <a href="https://forum.dbpedia.org/" target="_blank">DBpedia Forum</a>.
    </p>

    <hr>

    <div ng-app="wofApp" ng-controller="webIdController as ctrl" ng-cloak="">
        <div class="row" >
            <!-- SELECT PANELS -->
            <div class="col-sm-2" style="border-right: 1px solid; border-color: #dddddd">

                <legend><h4>Search</h4></legend>
                <div class="bar">
                    <input type="text" class="search" ng-model="model.searchString" />
                </div>

                <br>

                <div ng-model="filterOptions">
                    <div ng-repeat="option in filterOptions">

                        <hr>

                        <fieldset ng-if="option.type=='hasField'||option.type=='options'">
                            <legend><h4>{{option.title.charAt(0).toUpperCase() + option.title.slice(1);}}</h4></legend>
                            <md-checkbox aria-label="Select All"
                                         ng-checked="isChecked(option)"
                                         md-indeterminate="isIndeterminate(option)"
                                         ng-click="toggleAll(option)">
                                <span ng-if="isChecked(option)">Un-</span>Select All
                            </md-checkbox>
                            <div class="select-all-checkboxes" ng-repeat="item in option.options">
                                <md-checkbox ng-checked="exists(option.title, item)" ng-click="toggle(option.title, item)">
                                    {{ item || "undefined" }}
                                </md-checkbox>
                            </div>
                        </fieldset>

                        <div ng-model="selectedOptions" ng-if="option.type=='range'" ng-init="">
                            <legend><h4>{{option.title.charAt(0).toUpperCase() + option.title.slice(1);}}</h4></legend>
                            <fieldset>
                                <rzslider
                                        rz-slider-model="selectedOptions[getIndexOfStrInSelectedOptions(option.title)].options[0]"
                                        rz-slider-high="selectedOptions[getIndexOfStrInSelectedOptions(option.title)].options[1]"
                                        rz-slider-options="{onEnd:updateShownWebIds}">
                                </rzslider>
                            </fieldset>
                        </div>

                    </div>
                </div>

            </div>


            <!-- DBPEDIA ACCOUNTS -->
            <div class="col-sm">
                    <md-content layout-xs="column" layout="row" layout-wrap>
<!--                        <div class="card" style="width: 24rem;" ng-repeat="webId in filteredWebIds | filter:model.searchString">-->
<!--                            <img class="card-img-top" ng-src="{{webId.img || 'https://wiki.dbpedia.org/sites/default/files/DBpediaLogo.png'}}" alt="" style="width: 100%; max-height:200px; object-fit: contain;">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">-->
<!--                                    <a href="https://databus.dbpedia.org/{{webId.account}}" target="_blank">{{webId.account}}</a>-->
<!--                                </h5>-->
<!--                                Name: {{webId.name}}-->
<!--                                <br>-->
<!--                                Gender: {{webId.gender}}-->
<!--                                <br>-->
<!--                                Geekcode: {{webId.geekCode}}-->
<!--                                </p>-->
<!--                                <a class="btn btn-primary" href="{{webId.url}}">Go to WebId</a> <a class="btn btn-primary" href="/validate?str={{x.url}}" target="_blank">Validate</a>-->
<!--                            </div>-->
<!--                        </div>-->
                        <md-card class="webid-card-small" ng-repeat="webId in shownWebIds | filter:model.searchString">
                            <div class="md-card-image-wrapper" ng-click="showFullCard(webId)">
                                <img id="small-img" class="md-card-image" ng-src="{{webId.img || 'https://wiki.dbpedia.org/sites/default/files/DBpediaLogo.png'}}">
                            </div>
                            <md-card-actions layout="column" layout-align="start">
                                {{webId.account}}
                                <a class="md-button" ng-href="/validator?webid={{webId.url | escape}}" target="_blank">Validate</a>
                            </md-card-actions>
                        </md-card>
                    </md-content>
            </div>
            <div id="full_webid_container" ng-model="activeWebId">
                <div id="opaque" ng-click="hideFullCard()"></div>
                <md-card id="webid-card-wof" class="webid-card">
                    <img id="big-img" class="md-card-image" ng-src="{{activeWebId.img || 'https://wiki.dbpedia.org/sites/default/files/DBpediaLogo.png'}}">
                    <md-card-title>
                        <md-card-title-text>
                <span class="md-headline" style="text-align: center">
                    <a href="https://databus.dbpedia.org/{{activeWebId.account}}" target="_blank">{{activeWebId.account}}</a>
                </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <table>
                            <tbody>
                            <tr>
                                <td valign="top">Name:</td>
                                <td>{{activeWebId.name}}</td>
                            </tr>
                            <tr ng-if="activeWebId.numArtifacts">
                                <td valign="top">Artifacts:</td>
                                <td>{{activeWebId.numArtifacts}}</td>
                            </tr>
                            <tr ng-if="activeWebId.numVersions">
                                <td valign="top">Versions:</td>
                                <td>{{activeWebId.numVersions}}</td>
                            </tr>
                            <tr ng-if="activeWebId.uploadSize">
                                <td valign="top">Upload Data:</td>
                                <td>{{activeWebId.uploadSize}} MB</td>
                            </tr>
                            <tr ng-if="activeWebId.geekCode">
                                <td valign="top">GeekCode:</td>
                                <td>{{activeWebId.geekCode}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-card-content>
                     <md-card-actions layout="column" layout-align="start">
                         <md-button ng-click="ctrl.showToolbarMenu($event, activeWebId)">
                             <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                         </md-button>
                     </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</div>

<!--'<div id="opaque" ng-click="panelCtrl.closeMenu()"></div>' +-->
<!--'<md-card class="webid-card" style="z-index: 1">\n' +-->
<!--    `    <img id="big-img" class="md-card-image" ng-src=${img}>\n` +-->
<!--    '    <md-card-title>\n' +-->
<!--        '        <md-card-title-text>\n' +-->
<!--            '           <span class="md-headline" style="text-align: center">\n' +-->
<!--            `             <a href="https://databus.dbpedia.org/${webId.account}" target="_blank">${webId.account}</a>\n` +-->
<!--            '           </span>\n' +-->
<!--            '        </md-card-title-text>\n' +-->
<!--        '    </md-card-title>\n' +-->
<!--    '    <md-card-content>\n' +-->
<!--        '        <table>\n' +-->
<!--            '            <tbody>\n' +-->
<!--            '            <tr>\n' +-->
<!--                '                <td valign="top">Name:</td>\n' +-->
<!--                `                <td>${webId.name}</td>\n` +-->
<!--                '            </tr>\n' +-->
<!--            `            <tr ng-if="${!!webId.gender}">\n` +-->
<!--                `                <td valign="top">Gender:</td>\n` +-->
<!--                `                <td>${webId.gender}</td>\n` +-->
<!--                '            </tr>\n' +-->
<!--            `            <tr ng-if=${!!webId.geekCode}>\n` +-->
<!--                '                <td valign="top">GeekCode:</td>\n' +-->
<!--                `                <td>${webId.geekCode}</td>\n` +-->
<!--                '            </tr>\n' +-->
<!--            '            </tbody>\n' +-->
<!--            '        </table>\n' +-->
<!--        '    </md-card-content>\n' +-->
<!--    '     <md-card-actions layout="column" layout-align="start">' +-->
<!--        `         <md-button className="md-icon-button" aria-label="Settings" > ` + //ng-click=${this.showToolbarMenu($event, webId)}-->
<!--            '            <md-icon style="text-align: center" md-svg-icon="img/icons/menu.svg"></md-icon>' +-->
<!--            '         </md-button>' +-->
<!--        '     </md-card-actions>' +-->
<!--    </md-card>-->

</body>
</html>